
label{
  color:rgb(255, 255, 255);
}

h3{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:blue;
  text-align: center; 

}

table{
  font-family: Calibri; 
  color:white; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  background-color:rgb(43, 134, 177); 
  border-collapse: collapse; 
}
table.inner{
  border: 0px
}
.hero {
  background-image: url('/assets/img/BG.jpg')
  !important;
  background-size:cover;
  background-position: center center;}
  .hero-body
  {
    color:black; 
  }


  #myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  body {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans', sans-serif
}

.signup-box {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background: url(/assets/img/BG2.jpg) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}

.signup-snip {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(72, 125, 161, 0.9)
}

.signup-snip .signup,
.signup-snip .sign-up-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear
}

.signup-snip .sign-in,
.signup-snip .sign-up,
.signup-space .group .check {
    display: none
}

.signup-snip .tab,
.signup-space .group .label,
.signup-space .group .button {
    text-transform: uppercase
}

.signup-snip .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent
}

.signup-snip .sign-in:checked+.tab,
.signup-snip .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee
}

.signup-space {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d
}

.signup-space .group {
    margin-bottom: 15px
}

.signup-space .group .label,
.signup-space .group .input,
.signup-space .group .button {
    width: 100%;
    color: #fff;
    display: block
}

.signup-space .group .input,
.signup-space .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1)
}

.signup-space .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle
}

.signup-space .group .label {
    color: #aaa;
    font-size: 12px
}

.signup-space .group .button {
    background: #1161ee
}

.signup-space .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1)
}

.signup-space .group label .icon:before,
.signup-space .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s
}

.signup-space .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0)
}

.signup-space .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0)
}

.signup-space .group .check:checked+label {
    color: #fff
}

.signup-space .group .check:checked+label .icon {
    background: #1161ee
}

.signup-space .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg)
}

.signup-space .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg)
}

.signup-snip .sign-in:checked+.tab+.sign-up+.tab+.signup-space .signup {
    transform: rotate(0)
}

.signup-snip .sign-up:checked+.tab+.signup-space .sign-up-form {
    transform: rotate(0)
}

*,
:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2)
}

.foot {
    text-align: center
}

.card {
    width: 500px;
    left: 100px
}

::placeholder {
    color: #b3b3b3
}

@import '~ngx-toastr/toastr';


@import '~ngx-toastr/toastr-bs4-alert';


@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';